{# layout.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Sua Página</title>
</head>
<body>
    <header>
        {# Inclua o cabeçalho comum aqui #}
    </header>
    <nav>
        {# Inclua o menu comum aqui #}
    </nav>
    <main>
        {# Inclua a view de conteúdo específica aqui #}
        {% block content %}{% endblock %}
    </main>
    <footer>
        {# Inclua o rodapé comum aqui #}
    </footer>
</body>
</html>